a,
body {
    color: #446844;
    font-family: 'Kalam', cursive;
    font-weight: 300;
}

a {
    display: block;
}

h1 {
    font-size: 3.5em;
}

hr {
    border: 1px solid #354635;
}

.banner {
    max-height: 350px;
    overflow: hidden;
}

.feature-title {
    padding-left: 15px;
    color: #8E8F8E;
}

.font-normal {
    font-family: 'Kalam', cursive;
    font-weight: 300;
}

.font-thick {
    font-family: 'Kalam', cursive;
    font-weight: 400;
}

.modal-img {
    margin-bottom: 1.5em;
}

.portfolio-logo {
    max-width: 150px;
    max-height: 150px;
}

.portfolio-title {
    text-align: right;
}

.project-title {
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.project-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 767px){
    .portfolio-logo {
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-title {
        text-align: center;
    }
}

@media screen and (max-width: 992px){
    .banner {
        max-height: 250px;
        overflow: hidden;
    }

    .featured-work {
        text-align: left;
    }

    .project-image {
        margin-bottom: 1em;
    }

    .project-title {
        margin-top: 0;
    }
}
